<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Electronics Shop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceApp">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVkP_YOUR_API_KEY_HERE" />

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".CategoryProductsActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".OrderHistoryActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ManageProductsActivity" />
        <activity android:name=".AddEditProductActivity" />
        <activity android:name=".ManageCategoriesActivity" />
        <activity android:name=".ManageOrdersActivity" />
        <activity android:name=".ManageUsersActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".WishlistActivity" />
    </application>
</manifest>